
.category-heading{
        width: 80%;
        margin: auto;
        text-align: center;
        border: 1px solid lightgrey;
    }

.item-main-container {
        display: flex;
        width: 85%;
        margin: auto;
        flex-wrap: wrap;
    }

.object {
        display: flex;
        width: 90%;
        border: 1px solid brown;
        margin: auto;
        align-items: center;
        padding: 1rem;
        transition: 0.25s ease-in-out;

    }

.total-price{
    width: 50%;
    margin: auto;
    padding-left: 5rem!important;
}

.total-quantity{
    width: 50%;
    margin: auto;
}

