.navbar {
  width: 100%
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
}

.hero {
  margin: auto;
  width: 98%;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  color: black;
}
